body
{
	background-image: -webkit-linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url(/storage/pictures/website/background.jpg);
  	background-image: -o-linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(/storage/pictures/website/background.jpg);
  	background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(/storage/pictures/website/background.jpg);

	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}